<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{security/template.html}">
<head>
    <title th:text="#{page.registration.title}"></title>
    <meta name="description" th:content="#{page.registration.description}" >
</head>
<body class="bg-dark">
<div layout:fragment="bod-content">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form name='f' th:action="@{/registration}"  th:object="${userForm}" method='POST'>
                        <!--&lt;!&ndash;<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>&ndash;&gt;required="required"-->
                        <div class="form-group">
                            <label th:text="#{page.registration.label.firstName}"/>
                            <input type="text" name="firstName" class="form-control" th:field="*{firstName}" th:placeholder="#{page.registration.input.placeholder.firstName}"  autofocus="autofocus">
                            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="badge badge-danger">Error</p>
                        </div>
                        <div class="form-group">
                            <label th:text="#{page.registration.label.lastName}"/>
                            <input type="text" name="lastName" class="form-control" th:field="*{lastName}" th:placeholder="#{page.registration.input.placeholder.lastName}" >
                            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="badge badge-danger">Error</p>
                        </div>
                        <div class="form-group">
                            <label th:text="#{page.registration.label.email}"/>
                            <input type="email" name="email" class="form-control" th:field="*{email}" th:placeholder="#{page.registration.input.placeholder.email}">
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="badge badge-danger">Error</p>
                        </div>
                        <div class="form-group">
                            <label th:text="#{page.registration.label.password}"/>
                            <input type="password"  name="password" th:field="*{password}"  pattern="[\w\d-_]{8,30}" class="form-control"  th:placeholder="#{page.registration.input.placeholder.password}">
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="badge badge-danger">Error</p>
                        </div>
                        <div class="form-group">
                            <label th:text="#{page.registration.label.matchingPassword}"/>
                            <input type="password" name="matchingPassword" th:field="*{matchingPassword}" class="form-control"  th:placeholder="#{page.registration.input.placeholder.matchingPassword}">
                            <p th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}" class="badge badge-danger">Error</p>
                            <p th:if="${passwordConfirmError != null}" th:text="#{passwordConfirmError}" class="badge badge-danger">Error</p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span th:text="#{page.registration.text.licenseAgreement}"/>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" th:text="#{page.registration.button.registration}"/>
                        <div class="social-login-content">
                            <div class="social-button">
                                <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i><span th:text="#{page.registration.button.signUnFacebook}"/></button>
                                <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i><span th:text="#{page.registration.button.signUnTwitter}"/></button>
                            </div>
                        </div>
                        <div class="register-link m-t-15 text-center">
                            <p><span th:text="#{page.registration.text.signIn}"/> <a th:href="@{/login}" th:text="#{page.registration.link.signIn}"></a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>